body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0;
}

div {
  width: 100%;
  height:100%;
  background-image: url('jake-givens-576-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

blockquote {
  margin-bottom: 5%;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #212121;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  backface-visibility: hidden;
  position: absolute;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-style: italic;
}
